<link href="css/confirmDelete.css" rel="stylesheet" type="text/css"/> 
<div id="main">
 <div class="fullDiv">
   <h1>Confirm Deletion</h1>
   <p>Are u sure want to delete</p>
   <div class="confirmDiv">
      <div onClick="cancelDelete()" id="cancel">Cancel</div>
      <div onClick="deleteElement('<%=ic.TableName%>')" id="delete">Delete</div>
   </div>
 </div>
</div>

