<link href="css/sideBar.css" rel="stylesheet" type="text/css"/>
<body>
<div class="sideBar" >
    <div class="logo">
        <div class = "checkLogo">
            <img class="check" src="asserts/logo.svg"/>
        </div>
    </div>
    <div class="theme">
        <img onclick="themeChange()" class="moonImg" src="asserts/icon-moon.svg"/>
    </div>
    <div class="profile">
        <img class="profileImg" src="asserts/a.jpg"/>
    </div>
   </div>
   </body>


